<div class="login">
  <form (ngSubmit)="onSubmit()" class="login__form" [formGroup]="form">
    <h1 class="login__title">Register</h1>
    <input
      type="email"
      class="login__input"
      required
      placeholder="Email"
      formControlName="email"
    />
    @if(errorMessage) {
    <div>{{ errorMessage }}</div>
    }
    <input
      type="text"
      class="login__input"
      required
      placeholder="Username"
      formControlName="username"
    />
    <input
      type="password"
      class="login__input"
      required
      placeholder="Password"
      formControlName="password"
    />
    <button class="login__btn" type="submit">Registration</button>
  </form>
</div>
